<footer class="relative border-t border-gray-200 dark:border-slate-800 py-4">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 flex justify-between items-center dark:text-slate-300">
    <div class="text-sm">
      © 2024 by Yash Maheshwari. All rights reserved.
    </div>
    <div class="text-sm flex flex-col items-end">
      <div>
        Email Address: <a href="mailto:yashmahe2018@gmail.com" class="text-blue-600 dark:text-blue-400 hover:underline">yashmahe2018@gmail.com</a>
      </div>
      <div>
        Mobile Number: <a href="tel:+16502084653" class="text-blue-600 dark:text-blue-400 hover:underline">+1 650 208 4653</a>
      </div>
    </div>
  </div>
</footer>